/* 
   _______     __                            _______                              
  |       |.--|  |.---.-.--------.---.-.    |    ___|.----.---.-.-----.----.-----.
  |   -   ||  _  ||  _  |        |  _  |    |    ___||   _|  _  |     |  __|  -__|
  |_______||_____||___._|__|__|__|___._|    |___|    |__| |___._|__|__|____|_____|
  Version 1.1.0 - By @skyx_id_fr      "Odama, you like it ! ✨"
*/

/* 📌 Link Google Font Links : 📌 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900');

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: normal;
    font-family: 'Lato', sans-serif;
    background-color: #142e60;
}

/* 
✨ There is somethings to test here : ✨
html {
    background: url('https://images2.minutemediacdn.com/image/fetch/w_2000,h_2000,c_fit/https%3A%2F%2Fnetflixlife.com%2Ffiles%2F2022%2F03%2FTheUmbrellaAcademy_Season3_Episode1_00_07_52_17R.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 
*/

::-webkit-scrollbar { 
    width: 7px; 
    height: 5px;
    border-radius: 10px;
    background-color: #040a22;
}

::-webkit-scrollbar-track { background: transparent; }  

::-webkit-scrollbar-thumb {
   background: white;
   border-radius: 10px;
}

a {  color: grey; }
/* 📊 Completementary style : 📊 */
.github_link {
    margin-top: 20px;
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #040a22!important;
    padding-bottom: 0px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 17px;
    width: 250px;
    margin-left: -9%;
    margin-bottom: 1000px!important;
    content: "";
}

.github_link:hover {
    transition: all 0.3s;
    transform: scale(1.1);
}

.github_link img {
    float: left;
    margin-left: 50px;
}

.github_link p {
    float: left;
    width: 100px!important;
    margin-left: 8px!important;
    margin-top: 7px!important;
}

.github_link .github_button_logo {
    width: 35px;
}
/* 📊 End of Completementary style 📊 */

/* 📃 NavBar's style : 📃 */
#navbar {
    padding: 20px;
    background-color: #040a22;
    z-index: 100;
    margin-bottom: 20px;
    position: fixed;
    margin-top: 25px!important;

    /* Test somethings 😉 : */
    width: calc(100% - 120px);
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 40px!important;
    box-shadow: 10px 10px 70px #030928;
    margin: 8px;
}

#navbar:hover {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.025);
    transform: scale(1.020);
}

#responsive_menu_side_bar {
    display: none;
}

#navbar .odama_app_logo {
    width: 55px;
    background-color: transparent;
}

#navbar .menu_list {
    list-style: none;
    float: right;
    margin-top: 21px;
    margin-right: -10px;
    background-color: transparent;
}

#navbar .menu_list #profile-link svg {
    background-color: transparent;
    margin-top: -3px;
    margin-left: 20px;
}

#navbar .menu_white_icon {
    display: none;
}

#navbar .menu_list li {
    float: left;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 17px;
    background-color: transparent;
    margin-right: 45px;
}

#navbar .menu_list li:hover {
    transition: all 0.3s;
    transform: scale(1.15);
}
/* 📃 End of NavBar's style 📃 */

/* 📦 Content Page's style : 📦 */
.content_page * { background-color: transparent; }
.content_page {
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    color: white;
    padding-top: 165px;
    position: absolute;
}

.content_page .hero_section {
    width: 95%;
    text-align: center;
    margin-left: 3%;
    margin-top: 50px;
}

.content_page .hero_section h1 {
    font-weight: 800;
    font-size: 80px;
}

.content_page .hero_section p {
    font-weight: 300;
    font-size: 17px;
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.genres_page {
    padding-bottom: 100px;
}

.genres_page .button_genres_group {
    margin-left: 45px;
    margin-top: 20px;
}

.genres_page .button_genres_group h1 {
    position: relative;
    margin-left: 0px;
    font-size: 40px;
    width: 100%;
    margin-top: 20px;
}

.genres_page .button_genres_group p {
    position: relative;
    margin-bottom: 40px;
    margin-top: 5px;
    margin-left: 0px;
    font-size: 15px;
}

.genres_page .button_genres_group button {
    background-color: #030928;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 15px;
    margin-right: 25px;
    font-size: 18px;
    border-radius: 10px;
    border-color: transparent;
    margin-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    transition: all 0.2s;
}

.genres_page .button_genres_group button:hover {
    transform: scale(1.07);
    cursor: pointer;
    box-shadow: 0px 0px 70px #030928;
}

.genres_page .button_genres_group button:active {
    box-shadow: 0px 0px 70px #030928;
    transform: scale(0.95);
}

#movies_list {
    margin-left: 40px;
    position: absolute;
    margin-top: 450px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 95%;
    padding-top: 20px;
    background-color: transparent;
    padding-left: 10px;
}

#movies_list .movies_genres_item {
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

#movies_list .movies_genres_item * {
    background-color: transparent;
    color: white;
}

#movies_list .movies_genres_item:hover {
    transition: all 0.7s;
    transform: scale(1.05);
}

#movies_list .movies_genres_item #poster_img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

#movies_list .movies_genres_item #rates {
    background-color: rgba(0, 0, 0, 0.297);
    backdrop-filter: blur(10px);
    position: absolute;
    margin-top: -299px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 10px;
    border-radius: 10px;
    margin-left: 115px;
    width: 50px;
}

#movies_list .movies_genres_item #rates p {
    float: left;
}

#movies_list .movies_genres_item #rates img {
    width: 15px;
    margin-top: 2.2px;
    margin-left: 5px;
    float: left;
}

#movies_list .movies_genres_item #tags {
    background-color: rgba(0, 0, 0, 0.297);
    backdrop-filter: blur(10px);
    position: absolute;
    padding-left: 20px;
    padding-top: 5px;
    margin-top: 262px;
    margin-left: -195px;
    padding-bottom: 7px;
    padding-right: 20px;
    border-radius: 10px;
}

.genres_page h1 {
    position: absolute;
    margin-left: 50px;
    font-weight: 900;
    font-size: 40px;
    margin-top: 20px;
}

.genres_page p {
    position: absolute;
    margin-left: 50px;
    margin-top: 73px;
}

.genres_page .movies_section {
    margin-top: 110px;
}

.genres_page .movies_section #rates {
    padding-right: 10px!important;
    margin-left: 180px!important;
    margin-top: -230px!important;
}

.genres_page .movies_section #rates img {
    margin-left: 20px!important;
}

.genres_page .movies_section #rates p {
    margin-left: -8px;
    margin-top: 0px;
}

.genres_page .back_link {
    margin-left: 40px;
}

.genres_page .back_link p {
    margin-top: -24px;
    margin-left: 65px;
    font-size: 14px;
    color: white!important;
}
/* 📦 End of Content Page's style 📦 */

/* 🎥 Movies section's style : 🎥 */
.movies_section {
    margin-top: -5px;
    display: flex;
    margin-left: 50px;
    overflow-x: visible;
    overflow-y: hidden;
    padding-right: 10px;
}

#slider { padding-left: 85px; }
.movies_section .scrolling_button {
    background-color: #040a22;
    /* background: rgba(255, 255, 255, 0.2); */
    border-radius: 16px;
    box-shadow: 0px 0px 70px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 390px;
    border-radius: 15px;
    z-index: 100;
    position: absolute;
    cursor: pointer;
    margin-top: 0px;
}

.movies_section .left {
    margin-left: -75px;
}

.movies_section .right {
    float: right;
    position: absolute;
    right: 20px;
}

.movies_section .right img {
    transform: rotate(-180deg);
    margin-left: 23px!important;
}

.movies_section .scrolling_button:hover {
    transition: all 0.5s;
    transform: scale(1.02);
}

.movies_section .scrolling_button img {
    width: 12px;
    margin-left: 20px;
    margin-top: 160px;
    margin-right: 25px;
}

#movies_section_space {
    height: 80px;
    width: 100%;
}

.content_page #ind_text {
    margin-left: 55px;
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 25px;
}

.content_page .link_to_genres {
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 13px;
    border: 3px solid white;
    font-weight: 600;
    z-index: 100;
    border-radius: 10px;
    margin-left: 50px;
}

.content_page .link_to_genres:hover {
    background-color: white!important;
    transition: all 0.5s!important;
    color: black!important;
}

.content_page #ind_description {
    margin-left: 55px;
    font-size: 16px;
    margin-top: -22px;
    margin-bottom: 25px;
}

.movies_section .movies_item {
    margin-right: 25px;
    border-radius: 8px;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}

.movies_section .movies_item:hover {
    transition: all 0.8s;
    transform: scale(1.03);
}

.movies_section .movies_item .movie_poster {
    width: 250px;
    height: 370px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.movies_section .movies_item .movies_infos_poster {
    background-image: linear-gradient(to bottom, #00000000, #000000dc, #000000);
    margin-top: -145px;
    height: 120px;
    margin-bottom: 20px;
    position: relative;
    width: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.movies_section .movies_item .movies_infos_poster .movies_tags {
    margin-left: 15px;
    margin-top: 90px;
    position: absolute;
    color: grey;
    font-size: 13px;
}

.movies_section .movies_item .movies_infos_poster #rates {
    background-color: rgba(0, 0, 0, 0.135);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
    position: absolute;
    margin-left: 157px;
    margin-top: -248px;
}

.movies_section .movies_item .movies_infos_poster #rates p {
    float: left;
}

.movies_section .movies_item .movies_infos_poster #rates img {
    width: 15px;
    float: left;
    margin-left: 8px;
    margin-top: 2px;
}
/* 🎥 End of Movies section's style 🎥 */

/* 🎫 Movies details page style : 🎫 */
#movies_details_section {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#movies_details_section .toast_popup {
    background-color: rgba(0, 0, 0, 0.312);
    backdrop-filter: blur(10px);
    width: 40%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    margin-left: 30%;
    padding: 15px;
    border-radius: 10px;
    padding-bottom: 20px;
}

#movies_details_section .toast_popup img {
    width: 25px;
    float: right;
    margin-right: -8px;
    margin-top: -8px;
    cursor: pointer;
}

#movies_details_section .back_link {
    text-decoration: none;
    color: white;
}

#movies_details_section .back_link .back_icon {
    width: 25px;
    margin: 22px 30px;
    cursor: pointer;
    position: absolute;
    z-index: 20;
}

#movies_details_section .back_link p {
    font-size: 17px;
    margin-top: 23.5px;
    margin-left: 60px;
    position: absolute;
    z-index: 20;
}

#movies_details_section #love_icon {
    cursor: pointer;
    margin-left: 97%;
    margin-top: 25px;
    position: absolute;
    z-index: 20;
    font-size: 25px;
}

#movies_details_section #love_icon:active {
    animation: click_animation 1.2s ease infinite;
}

@keyframes click_animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.4); }
    100% { transform: scale(1); }
}

#movies_details_section * { 
    background-color: transparent;
}

#movies_details_section #movie_title {
    font-weight: 800;
    font-size: 110px; 
    z-index: 20;
    margin-top: 130px;
    width: 100%;
    text-align: center;
    position: absolute;
    text-shadow: 7px 5px 5px rgb(39, 39, 39);
}

#movies_details_section #short_infos {
    margin-top: 265px;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 20;
}

#movies_details_section .movies_infos {
    background: linear-gradient(0deg, #071241 55%, #071241b7 70%, #07124100 100%);
    width: 100%;
    height: 100vh;
    position: absolute; 
    z-index: 15;
}

#movies_details_section #productors {
    margin-left: 46%;
    z-index: 30;
    position: absolute;
    margin-top: 335px;
    /* cursor: pointer; */
}

#movies_details_section #productors #name {
    float: left;
    font-size: 16px;
    margin-left: 10px;
}

#movies_details_section #productors #profile_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin-top: 2px;
}

#movies_details_section #button_container {
    text-align: center;
}

#movies_details_section #button_container #watch_button {
    background-color: #071241;
    border-color: transparent;
    border-radius: 20px;
    color: white;
    z-index: 30;
    width: 280px;
    cursor: pointer;
    position: absolute;
    margin-left: -140px;
    box-shadow: 0px 0px 90px black;
    transition: all 0.3s;
    margin-top: 450px;
    padding-top: 5px;
    padding-bottom: 4px;
}

#movies_details_section #button_container #watch_button:hover { transform: scale(1.1); }
#movies_details_section #button_container #watch_button img {
    width: 40px;
    float: left;
    margin-left: 15px;
}

#movies_details_section #button_container #watch_button p {
    float: left;
    font-size: 16px;
    margin-top: 11px;
    margin-left: 10px;
}

#movies_details_section .movies_infos .content {
    margin-top: 600px;
    text-align: center;
}

#movies_details_section .movies_infos .content #synopsis_title {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 5px;
    text-shadow: 7px 5px 5px rgb(39, 39, 39);
}

#movies_details_section .movies_infos .content #warning_message {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

#movies_details_section .movies_infos .content #synopsis_description {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#movies_details_section #movies_details_footer {
    z-index: 30;
    bottom: 0; 
    left: 0; 
    right: 0;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
    position: absolute;
}

#movies_details_section #movie_watch_popup {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.512);
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    display: none;
    text-align: center;
}

#movies_details_section #movie_watch_popup #popup_close_icon {
    width: 30px;
    margin: 10px;
    float: right;
    cursor: pointer;
}

#movies_details_section #movie_watch_popup #popup_player {
    margin-top: 70px;
    border-radius: 10px;
    width: 50%;
    height: 605px;
}
/* 🎫 End of Movies details page style 🎫 */

/* 🚧 404 Page Error style : 🚧 */
.error_page_container * { background-color: white; }
.error_page_container {
    height: 100vh;
    width: 100%;
    background-color: white;
    text-align: center;
    position: fixed;
    padding-left: 50px;
}

.error_page_container h1 {
    font-size: 170px;
    font-weight: 800;
    margin-left: -100px;
    padding-top: 8%;
}

.error_page_container p {
    margin-top: 15px;
    color: gray;
    width: 600px;
    margin-left: 33%;
    margin-right: auto
}

.error_page_container button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 13px;
    font-size: 15px;
    margin-top: 35px;
    margin-left: -120px;
    border-radius: 20px;
    font-weight: 600;
    border: 3px solid black;
    cursor: pointer;
    transition: all 0.4s;
}

.error_page_container button:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.error_page_container button:active {
    transform: scale(0.9);
}

.error_page_container img {
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
}
/* 🚧 End of 404 Page Error style 🚧 */

/* ⌛ Loading section style : ⌛ */
#loader_screen {
    background-color: #030928;
    text-align: center;
    padding-top: 8%;
    width: 100%;
    position: absolute;
    height: 100%;
    color: white;
}

#loader_screen * { background-color: transparent; }
#loader_screen .logo_app {
    width: 125px;
    margin-bottom: 35px;
}

#loader_screen .logo_loading {
    width: 150px;
    margin-left: -139px;
}
/* ⌛ End of Loading section style ⌛ */

/* 🙎‍♂️ My profile page style : 🙎‍♀️ */
#my_profile_section {
    margin-top: 150px;
    color: white;
    padding: 20px;
    padding-left: 50px;
    position: absolute;
    width: 80%;
}

#my_profile_section #more_info_container {
    width: 80%;
    border: 3px solid white;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}

#my_profile_section #more_info_container:hover {
    color: black;
    background-color: white;
    transition: all 1s;
}

#my_profile_section #more_info_container i {
    width: 28px;
    float: right;
    margin-top: 4.5px;
    background-color: transparent;
    margin-right: -15px;
    stroke: white;
}

#my_profile_section .big_title {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 8px;
}

#my_profile_section .description {
    margin-bottom: 45px;
}

#movies_library_popup {
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.564);
    position: fixed;
    padding-left: 35px;
    padding-top: 40px;
    height: 100%;
    width: 100%;
    z-index: 110;
    color: white;
}

#movies_library_popup * {
    background-color: transparent;
}

#movies_library_popup #close_icon_popup {
    width: 35px;
    float: right;
    margin-right: 60px;
    margin-top: -20px;
    cursor: pointer;
}

#movies_library_popup .not_found_component {
    text-align: center;
}

#movies_library_popup .not_found_component h1 {
    margin-top: -80px;
    font-weight: 800;
    width: 600px;
    margin-left: 34%;
    font-size: 45px;
}

#movies_library_popup .not_found_component p {
    margin-left: -80px;
    margin-top: 10px;
    color: rgb(148, 148, 148);
}

#movies_library_popup .movies_liked_item {
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

#movies_library_popup .movies_liked_item:hover {
    transition: all 0.5s;
    transform: scale(1.03);
    cursor: pointer;
}

#movies_library_popup .movies_liked_item img {
    width: 270px;
    border-radius: 10px;
    height: 366px;
}

#movies_library_popup .movies_liked_item .movies_tags {
    position: absolute;
    color: white;
    font-size: 16px;
    margin-top: 322px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.323);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-radius: 10px;
    margin-left: 9px;
}

#movies_library_popup .movies_liked_item #rates {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.323);
    position: absolute;
    margin-left: 175px;
    margin-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-radius: 10px;
}

#movies_library_popup .movies_liked_item #rates p {
    float: left;
    color: white!important;
}

#movies_library_popup .movies_liked_item #rates img {
    width: 20px;
    height: 19px;
    float: left;
    margin-left: 5px;
}
/* 🙎‍♂️ End of My profile page style 🙎‍♀️ */

/* 📬 Contact's Page style : 📬 */
#contact_section {
    margin-top: 240px;
    width: calc(100% - 170px);
    position: absolute;
    margin-left: 42px;
    color: white;
    text-align: center;
}

#contact_section * {
    background-color: transparent;
}

#contact_section .discord_logo {
    background-color: #030928;
    width: 100px;
    padding: 30px;
    border-radius: 40px;
    padding-bottom: 35px;
    cursor: pointer;
    transition: all 0.4s;
}

#contact_section .discord_logo:hover {
    transform: scale(1.07);
}

#contact_section .discord_logo:active {
    transform: scale(0.9);
}

#contact_section h1 {
    font-size: 55px;
    font-weight: 850;
    margin-top: 10px;
    margin-left: -50px;
}

#contact_section h1 img {
    width: 50px;
    position: absolute;
    margin-left: 15px;
    margin-top: 11px;
}

#contact_section p {
    width: 30%;
    margin-left: 35%;
    margin-top: 10px;
}
/* 📬 End of Contact's Page style 📬 */