/* 
   _______     __                            _______                              
  |       |.--|  |.---.-.--------.---.-.    |    ___|.----.---.-.-----.----.-----.
  |   -   ||  _  ||  _  |        |  _  |    |    ___||   _|  _  |     |  __|  -__|
  |_______||_____||___._|__|__|__|___._|    |___|    |__| |___._|__|__|____|_____|
  Version 1.1.0 - By @skyx_id_fr      "Odama, you like it ! ✨"
*/

/* 📌 Link Google Font Links : 📌 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900');

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: normal;
    font-family: 'Lato', sans-serif;
    background-color: #142e60;
}

/* 
✨ There is somethings to test here : ✨
html {
    background: url('https://images2.minutemediacdn.com/image/fetch/w_2000,h_2000,c_fit/https%3A%2F%2Fnetflixlife.com%2Ffiles%2F2022%2F03%2FTheUmbrellaAcademy_Season3_Episode1_00_07_52_17R.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 
*/

::-webkit-scrollbar { 
    width: 7px; 
    height: 8px;
    border-radius: 10px;
    background-color: #040a22;
    cursor: pointer;
}

::-webkit-scrollbar-track { background: transparent; }  

::-webkit-scrollbar-thumb {
   background: white;
   border-radius: 10px;
}

a {  color: grey; }
/* 📊 Completementary style : 📊 */
.github_link {
    margin-top: 20px;
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #040a22!important;
    padding-bottom: 0px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 17px;
    width: 250px;
    margin-left: -9%;
    margin-bottom: 1000px!important;
    content: "";
}

.github_link:hover {
    transition: all 0.3s;
    transform: scale(1.1);
}

.github_link img {
    float: left;
    margin-left: 50px;
}

.github_link p {
    float: left;
    width: 100px!important;
    margin-left: 8px!important;
    margin-top: 7px!important;
}

.github_link .github_button_logo {
    width: 35px;
}
/* 📊 End of Completementary style 📊 */

/* 📃 NavBar's style : 📃 */
#navbar {
    padding: 20px;
    background-color: #040a22;
    z-index: 100;
    margin-bottom: 20px;
    position: fixed;
    margin-top: 25px!important;
    width: calc(100% - 100px);
    margin-top: 20px;
    border-radius: 45px;
    margin-left: 29px!important;
    box-shadow: 10px 10px 70px #030928;
    margin: 8px;
}

#navbar:hover {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.025);
    transform: scale(1.020);
}

#responsive_menu_side_bar {
    display: none;
}

#navbar .odama_app_logo {
    width: 55px;
    background-color: transparent;
    margin-left: 5px;
}

#navbar .menu_list {
    list-style: none;
    float: right;
    margin-top: 21px;
    margin-right: -10px;
    background-color: transparent;
}

#navbar .menu_list #profile-link svg {
    background-color: transparent;
    margin-top: -3px;
    margin-left: 20px;
}

#navbar .menu_white_icon {
    display: none;
}

#navbar .menu_list #search-link svg {
    background-color: transparent;
    margin-top: -2px;
    margin-right: -35px;
    margin-left: 30px;
}

#navbar .menu_list li {
    float: left;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 17px;
    background-color: transparent;
    margin-right: 45px;
}

/* #navbar .menu_list li:hover {
    transition: all 0.3s;
    transform: scale(1.15);
} */
/* 📃 End of NavBar's style 📃 */

/* 📦 Content Page's style : 📦 */
.content_page * { background-color: transparent; }
.content_page {
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    color: white;
    padding-top: 170px;
    position: absolute;
}

.content_page .hero_section {
    width: 95%;
    text-align: center;
    margin-left: 3%;
    margin-top: 50px;
}

.content_page .hero_section h1 {
    font-weight: 800;
    font-size: 80px;
}

.content_page .hero_section p {
    font-weight: 300;
    font-size: 17px;
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.genres_page {
    padding-bottom: 100px;
}

.genres_page .button_genres_group {
    margin-left: 45px;
    margin-top: 20px;
}

.genres_page .button_genres_group h1 {
    position: relative;
    margin-left: 0px;
    font-size: 40px;
    width: 100%;
    margin-top: 20px;
}

.genres_page .button_genres_group p {
    position: relative;
    margin-bottom: 40px;
    margin-top: 5px;
    margin-left: 0px;
    font-size: 15px;
}

.genres_page .button_genres_group button {
    background-color: #030928;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 15px;
    margin-right: 25px;
    font-size: 18px;
    border-radius: 10px;
    border-color: transparent;
    margin-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    transition: all 0.2s;
}

.genres_page .button_genres_group button:hover {
    transform: scale(1.07);
    cursor: pointer;
    box-shadow: 0px 0px 70px #030928;
}

.genres_page .button_genres_group button:active {
    box-shadow: 0px 0px 70px #030928;
    transform: scale(0.95);
}

#movies_list {
    margin-left: 40px;
    position: absolute;
    margin-top: 420px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 95%;
    padding-top: 20px;
    background-color: transparent;
    padding-left: 10px;
}

#movies_list .movies_genres_item {
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

#movies_list .movies_genres_item * {
    background-color: transparent;
    color: white;
}

#movies_list .movies_genres_item:hover {
    transition: all 0.7s;
    transform: scale(1.05);
}

#movies_list .movies_genres_item #poster_img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

#movies_list .movies_genres_item #rates {
    background-color: rgba(0, 0, 0, 0.297);
    backdrop-filter: blur(10px);
    position: absolute;
    margin-top: -299px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 10px;
    border-radius: 10px;
    margin-left: 115px;
    width: 50px;
}

#movies_list .movies_genres_item #rates p {
    float: left;
}

#movies_list .movies_genres_item #rates img {
    width: 15px;
    margin-top: 2.2px;
    margin-left: 5px;
    float: left;
}

#movies_list .movies_genres_item #tags {
    background-color: rgba(0, 0, 0, 0.297);
    backdrop-filter: blur(10px);
    position: absolute;
    padding-left: 20px;
    padding-top: 5px;
    margin-top: 262px;
    margin-left: -195px;
    padding-bottom: 7px;
    padding-right: 20px;
    border-radius: 10px;
}

.genres_page h1 {
    position: absolute;
    margin-left: 50px;
    font-weight: 900;
    font-size: 40px;
    margin-top: 20px;
}

.genres_page p {
    position: absolute;
    margin-left: 50px;
    margin-top: 73px;
}

.genres_page .movies_section {
    margin-top: 110px;
}

.genres_page .movies_section #rates {
    padding-right: 10px!important;
    margin-left: 180px!important;
    margin-top: -230px!important;
}

.genres_page .movies_section #rates img {
    margin-left: 20px!important;
}

.genres_page .movies_section #rates p {
    margin-left: -8px;
    margin-top: 0px;
}

.genres_page .back_link {
    margin-left: 40px;
}

.genres_page .back_link p {
    margin-top: -24px;
    margin-left: 65px;
    font-size: 14px;
    color: white!important;
}

#search_section {
    margin-top: 130px;
    padding-left: 55px;
    position: absolute;
    color: white;
    width: 90%;
    height: 300vh;
}

#search_section svg {
    margin-left: 17.45%;
    z-index: 20;
    margin-top: 80px;
    position: absolute;
    background-color: transparent;
    stroke: #030928;
}

#search_section input {
    width: 70%;
    margin-left: 17%;
    padding-top: 10px;
    margin-top: 70px;
    padding-bottom: 13px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 10px;
    border-color: transparent;
    background-color: white;
    color: black;
    font-size: 16px;
    outline: none;
    font-weight: 500;
    box-shadow: 10px 10px 50px #030928a0;
}

#search_section span {
    margin-top: 122px;
    position: absolute;
    margin-left: -71%;
    background-color: transparent;
}

#search_section #result_item {
    width: 105%;
    margin-top: 70px;
    margin-left: 4px;
    background-color: #030928;
}

#search_section #result_item a {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

#search_section #result_item .movies_search_item {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#search_section #result_item .movies_search_item * {
    background-color: transparent;
}

#search_section #result_item .movies_search_item:hover {
    transition: 1s;
    transform: scale(1.05);
}

#search_section #result_item .movies_search_item #poster_img {
    border-radius: 10px;
    width: 200px;
    height: 300px;
}

#search_section #result_item .movies_search_item #rates {
    background-color: rgba(0, 0, 0, 0.135);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
    position: absolute;
    margin-top: -298px;
    margin-left: 110px;
    width: 45px;
}

#search_section #result_item .movies_search_item #rates p {
    float: left;
}

#search_section #result_item .movies_search_item #rates img {
    width: 15px;
    float: left;
    margin-left: 7px;
    margin-top: 1.5px;
}
/* 📦 End of Content Page's style 📦 */

/* 🎥 Movies section's style : 🎥 */
.movies_section {
    margin-top: -5px;
    display: flex;
    margin-left: 50px;
    overflow-x: visible;
    overflow-y: hidden;
    padding-right: 10px;
    padding-left: 5px;
}

#slider { padding-left: 85px; }
.movies_section .scrolling_button {
    background-color: #040a22;
    /* background: rgba(255, 255, 255, 0.2); */
    border-radius: 16px;
    box-shadow: 0px 0px 70px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 390px;
    border-radius: 15px;
    z-index: 100;
    position: absolute;
    cursor: pointer;
    margin-top: 0px;
}

.movies_section .left {
    margin-left: -75px;
}

.movies_section .right {
    float: right;
    position: absolute;
    right: 20px;
}

.movies_section .right img {
    transform: rotate(-180deg);
    margin-left: 23px!important;
}

.movies_section .scrolling_button:hover {
    transition: all 0.5s;
    transform: scale(1.02);
}

.movies_section .scrolling_button img {
    width: 12px;
    margin-left: 20px;
    margin-top: 160px;
    margin-right: 25px;
}

#movies_section_space {
    height: 80px;
    width: 100%;
}

.content_page #ind_text {
    margin-left: 55px;
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 25px;
}

.content_page .link_to_genres {
    background-color: transparent;
    padding-left: 7%;
    padding-right: 8%;
    padding-top: 13px;
    padding-bottom: 15px;
    border: 4px solid white;
    font-weight: 600;
    z-index: 100;
    border-radius: 30px;
    margin-left: 36.5%;
}

.content_page .link_to_genres:hover {
    background-color: white!important;
    transition: all 0.5s!important;
    color: black!important;
}

.content_page #ind_description {
    margin-left: 55px;
    font-size: 16px;
    margin-top: -22px;
    margin-bottom: 25px;
}

.movies_section .movies_item {
    margin-right: 25px;
    border-radius: 8px;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}

.movies_section .movies_item:hover {
    transition: all 0.8s;
    transform: scale(1.03);
}

.movies_section .movies_item .movie_poster {
    width: 250px;
    height: 370px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.movies_section .movies_item .movies_infos_poster {
    background-image: linear-gradient(to bottom, #00000000, #000000dc, #000000);
    margin-top: -145px;
    height: 120px;
    margin-bottom: 20px;
    position: relative;
    width: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.movies_section .movies_item .movies_infos_poster .movies_tags {
    margin-left: 15px;
    margin-top: 90px;
    position: absolute;
    color: grey;
    font-size: 13px;
}

.movies_section .movies_item .movies_infos_poster #rates {
    background-color: rgba(0, 0, 0, 0.135);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
    position: absolute;
    margin-left: 157px;
    margin-top: -248px;
}

.movies_section .movies_item .movies_infos_poster #rates p {
    float: left;
}

.movies_section .movies_item .movies_infos_poster #rates img {
    width: 15px;
    float: left;
    margin-left: 8px;
    margin-top: 2px;
}
/* 🎥 End of Movies section's style 🎥 */

/* 🎫 Movies details page style : 🎫 */
#movies_details_section {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#movies_details_section * { 
    background-color: transparent;
}

#movies_details_section .movies_infos {
    /* background-image: linear-gradient(to top, #030a26, #030c2a, #051234, #05163adc, #07193a00); */
    width: 100%;
    height: 100vh;
    position: absolute; 
    z-index: 15;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(3, 9, 38, 0.474);
}

#movies_details_section .movies_infos #content {
    margin-top: 150px;
    padding-left: 220px;
    padding-right: 50px;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

#movies_details_section .movies_infos #content .poster_box {
    grid-area: 1 / 1 / 4 / 3; 
}

#movies_details_section .movies_infos #content .poster_box img {
    width: 350px;
    margin-left: 20%;
    border-radius: 15px;
    box-shadow: 10px 0px 80px #000000;
}

#movies_details_section .movies_infos #content .short_infos_box {
    margin-top: 10px;
    grid-area: 1 / 3 / 4 / 7; 
    padding-left: 0px;
    margin-left: -750px;
}

#movies_details_section .movies_infos #content .short_infos_box #synopsis {
    width: 700px;
    margin-left: 690px;
    margin-top: 45px;
    text-align: left;
}

#movies_details_section .movies_infos #content .short_infos_box h1 {
    font-weight: 800;
    font-size: 100px;
    text-shadow: 0px 10px 30px black;
    margin-left: 685px;
    width: auto;
    text-align: left;
}

#movies_details_section .movies_infos #content .short_infos_box .tags_box {
    margin-top: 20px;
    margin-left: -1°px;
}

#movies_details_section .movies_infos #content .short_infos_box .tags_box span {
    margin-right: 10px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid white;
    border-radius: 20px;
}

#movies_details_section .movies_infos #content .short_infos_box .tags_box span svg {
    width: 20px;
    margin-bottom: -6px;
    margin-right: 10px;
    background-color: transparent;
    stroke: white;
}

#movies_details_section .movies_infos #content .short_infos_box #watch_button {
    background-color: #040a22;
    border-color: transparent;
    border-radius: 20px;
    color: white;
    z-index: 30;
    width: 280px;
    cursor: pointer;
    position: absolute;
    margin-left: -250px;
    box-shadow: 0px 0px 80px rgb(127, 127, 127);
    transition: all 0.3s;
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 6px;
}

#movies_details_section .movies_infos #content .short_infos_box #watch_button:hover { transform: scale(1.1); }
#movies_details_section .movies_infos #content .short_infos_box #trailer_button:hover { transform: scale(1.1); }
/* #movies_details_section .movies_infos #content .short_infos_box #watch_button:active { transform: scale(0.9); } */
#movies_details_section .movies_infos #content .short_infos_box #watch_button img {
    width: 40px;
    float: left;
    margin-left: 15px;
}

#movies_details_section .movies_infos #content .short_infos_box #watch_button p {
    float: left;
    font-size: 16px;
    margin-top: 11px;
    margin-left: 10px;
}

#movies_details_section .movies_infos #content .short_infos_box #trailer_button {
    background-color: rgb(148, 11, 11);
    border-color: transparent;
    border-radius: 20px;
    color: white;
    z-index: 30;
    width: 280px;
    cursor: pointer;
    position: absolute;
    margin-left: 60px;
    box-shadow: 0px 0px 80px rgb(70, 70, 70);
    transition: all 0.3s;
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 6px;
}

#movies_details_section .movies_infos #content .short_infos_box #trailer_button img {
    width: 40px;
    float: left;
    margin-left: 12px;
}

#movies_details_section .movies_infos #content .short_infos_box #trailer_button p {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
}

#movies_details_section .movies_infos #content .bottom_box {
    /* background-color: yellow; */
    grid-area: 4 / 1 / 6 / 7;
    margin-top: 50px;
}

#movies_details_section .toast_popup {
    background-color: rgba(0, 0, 0, 0.312);
    backdrop-filter: blur(20px);
    width: 40%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    margin-left: 30%;
    padding: 15px;
    border-radius: 10px;
    padding-bottom: 20px;
}

#movies_details_section .toast_popup a {
    font-weight: bold;
    color: white;
}

#movies_details_section .toast_popup img {
    width: 25px;
    float: right;
    margin-right: -8px;
    margin-top: -8px;
    cursor: pointer;
}

#movies_details_section .back_link {
    text-decoration: none;
    color: white;
}

#movies_details_section .back_link .back_icon {
    width: 25px;
    margin: 22px 30px;
    cursor: pointer;
    position: absolute;
    z-index: 20;
}

#movies_details_section .back_link p {
    font-size: 17px;
    margin-top: 23.5px;
    margin-left: 60px;
    position: absolute;
    z-index: 20;
}

#movies_details_section #love_icon {
    cursor: pointer;
    margin-left: 97.3%;
    margin-top: 25px;
    position: absolute;
    z-index: 20;
    font-size: 25px;
}

#movies_details_section #love_icon:active {
    animation: click_animation 1.2s ease infinite;
}

@keyframes click_animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.4); }
    100% { transform: scale(1); }
}

#movies_details_section #movie_watch_popup {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.512);
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    display: none;
    text-align: center;
}

#movies_details_section #movie_watch_popup #popup_close_icon {
    width: 30px;
    margin: 10px;
    float: right;
    cursor: pointer;
}

#movies_details_section #movie_watch_popup .popup_player {
    margin-top: 50px;
    border-radius: 20px;
    width: 50%;
    height: 605px;
    background-color: black;
    box-shadow: 0px 10px 50px rgb(87, 87, 87);
}

#movies_details_section #movie_watch_popup #player_changed {
    margin-top: 10px;
    text-align: center;
    margin-left: -17%;
}

#movies_details_section #movie_watch_popup #player_changed p {
    margin-top: -27.2px;
    margin-left: 368px;
}

#movies_details_section #movie_watch_popup #player_changed .switch input {
    position: absolute;
    opacity: 0;
}
  
#movies_details_section #movie_watch_popup #player_changed .switch {
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    height: 1em;
    width: 49px;
    /* background: #BDB9A6; */
    background-color: #142e60;
    border-radius: 1em;
}
  
#movies_details_section #movie_watch_popup #player_changed .switch div {
    height: 20px;
    width: 20px;
    margin-top: 3.1px;
    margin-left: 4px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}
  
#movies_details_section #movie_watch_popup #player_changed .switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

#movies_details_section #movie_watch_popup .action_group {
    background-color: red;
}

#movies_details_section #movie_watch_popup .action_group #download_button {
    color: white;
    text-decoration: none;
    background-color: #142e60;
    border-radius: 20px;
    padding-top: 13px;
    padding-bottom: 17px;
    padding-left: 60px;
    padding-right: 70px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
    position: absolute;
    margin-left: -165px;
    box-shadow: 0px 10px 50px black;
    transition: all 0.2s;
}

#movies_details_section #movie_watch_popup .action_group #download_button:hover {
    transform: scale(1.1);
}

#movies_details_section #movie_watch_popup .action_group #download_button svg {
    width: 20px;
    margin-right: 10px;
    margin-bottom: -4px;
}
/* 🎫 End of Movies details page style 🎫 */

/* 🚧 404 Page Error style : 🚧 */
.error_page_container * { background-color: white; }
.error_page_container {
    height: 100vh;
    width: 100%;
    background-color: white;
    text-align: center;
    position: fixed;
    padding-left: 50px;
}

.error_page_container h1 {
    font-size: 170px;
    font-weight: 800;
    margin-left: -100px;
    padding-top: 8%;
}

.error_page_container p {
    margin-top: 15px;
    color: gray;
    width: 600px;
    margin-left: 33%;
    margin-right: auto
}

.error_page_container button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 13px;
    font-size: 15px;
    margin-top: 35px;
    margin-left: -135px;
    border-radius: 20px;
    font-weight: 600;
    border: 3px solid black;
    cursor: pointer;
    transition: all 0.4s;
    color: black!important;
}

.error_page_container button:hover {
    transform: scale(1.1);
    background-color: black;
    color: white!important;
}

.error_page_container button:active {
    transform: scale(0.9);
}

.error_page_container img {
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
}
/* 🚧 End of 404 Page Error style 🚧 */

/* ⌛ Loading section style : ⌛ */
#loader_screen {
    background-color: #030928;
    text-align: center;
    padding-top: 8%;
    width: 100%;
    position: absolute;
    height: 100%;
    color: white;
}

#loader_screen * { background-color: transparent; }
#loader_screen .logo_app {
    width: 125px;
    margin-bottom: 35px;
}

#loader_screen .logo_loading {
    width: 150px;
    margin-left: -142px;
}
/* ⌛ End of Loading section style ⌛ */

/* 🙎‍♂️ My profile page style : 🙎‍♀️ */
#my_profile_section {
    margin-top: 150px;
    color: white;
    padding: 20px;
    padding-left: 50px;
    position: absolute;
    width: 80%;
}

#my_profile_section .button_group_action button {
    width: 30%;
    border: 3px solid white;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    margin-right: 25px;
    transition: all 0.9s;
}

#my_profile_section .button_group_action button:hover {
    color: black;
    background-color: white;
    font-weight: 600;
}

#my_profile_section .button_group_action button:active {
    transform: scale(0.9);
}

#my_profile_section .button_group_action button i {
    width: 28px;
    float: right;
    margin-top: 4.5px;
    background-color: transparent;
    margin-right: -15px;
    stroke: white;
}

#my_profile_section .big_title {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 8px;
}

#my_profile_section .description {
    margin-bottom: 45px;
}

#movies_library_popup {
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.564);
    position: absolute;
    padding-top: 70px;
    height: 100%;
    top: 0;
    left: 0px;
    right: 0;
    width: 100%;
    z-index: 110;
    color: white;
}

#movies_library_popup * {
    background-color: transparent;
}

#movies_library_popup #close_icon_popup {
    width: 35px;
    float: right;
    margin-right: 27px;
    margin-top: -55px;
    cursor: pointer;
}

#movies_library_popup .not_found_component {
    text-align: center;
}

#movies_library_popup .not_found_component h1 {
    margin-top: -70px;
    font-weight: 800;
    width: auto;
    font-size: 45px;
}

#movies_library_popup .not_found_component p {
    margin-left: -40px;
    margin-top: 0px;
    color: rgb(148, 148, 148);
}

#movies_library_popup .not_found_component img {
    margin-left: -75px;
}

#movies_library_popup .movies_liked_item {
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

#movies_library_popup #all_liked_movies_component {
    position: absolute;
    margin-left: 40px;
    width: 96%;
}

#movies_library_popup .movies_liked_item:hover {
    transition: all 0.5s;
    transform: scale(1.03);
    cursor: pointer;
}

#movies_library_popup #all_liked_movies_component button {
    background-color: red;
    margin-left: -280px;
    margin-top: -100px;
}

#movies_library_popup .movies_liked_item img {
    width: 270px;
    border-radius: 10px;
    height: 366px;
}

#movies_library_popup .movies_liked_item .movies_tags {
    position: absolute;
    color: white;
    font-size: 16px;
    margin-top: 322px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.323);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-radius: 10px;
    margin-left: 9px;
}

#movies_library_popup .movies_liked_item #rates {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.323);
    position: absolute;
    margin-left: 175px;
    margin-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-radius: 10px;
}

#movies_library_popup .movies_liked_item #rates p {
    float: left;
    color: white!important;
}

#movies_library_popup .movies_liked_item #rates img {
    width: 20px;
    height: 19px;
    float: left;
    margin-left: 5px;
}

#confirm_popup {
    background-color: #040a228e;
    backdrop-filter: blur(3px);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#confirm_popup * { background-color: transparent; }
#confirm_popup .content {
    background-color: #030928;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 20px;
    padding: 40px;
    color: white;
    font-weight: normal;
    box-shadow: 0px 0px 100px #061045;
}

#confirm_popup .content #close_icon {
    width: 30px;
    float: right;
    margin-right: -30px;
    margin-top: -30px;
    cursor: pointer;
}

#confirm_popup .content h1 {
    font-weight: 800;
    font-size: 40px;
    width: 90%;
    line-height: 42px;
}

#confirm_popup .content span {
    position: absolute;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(183, 183, 183);
    width: 45%;
}

#confirm_popup .content .button_group {
    margin-top: 100px;
}

#confirm_popup .content .button_group button {
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 0px 0px 50px black;
    cursor: pointer;
}

#confirm_popup .content .button_group button:hover {
    transition: all 0.7s;
    transform: scale(1.07);
}

#confirm_popup .content .button_group #yes { background-color: rgb(17, 139, 17); }
#confirm_popup .content .button_group #no { background-color: rgb(210, 10, 10); }
/* 🙎‍♂️ End of My profile page style 🙎‍♀️ */