/* 
   _______     __                            _______                              
  |       |.--|  |.---.-.--------.---.-.    |    ___|.----.---.-.-----.----.-----.
  |   -   ||  _  ||  _  |        |  _  |    |    ___||   _|  _  |     |  __|  -__|
  |_______||_____||___._|__|__|__|___._|    |___|    |__| |___._|__|__|____|_____|
  Version 1.1.0 - By @skyx_id_fr      "Odama, you like it ! ✨"
*/

/* 📌 Link Google Font Links : 📌 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@media only screen and (max-width: 1860px) {
    #movies_details_section #movie_watch_popup #popup_player { height: 470px; }
    #movies_library_popup .not_found_component h1 { margin-left: 0px; }
    #movies_list { margin-top: 490px; }
}

@media only screen and (max-width: 1800px) {
    #movies_details_section .movies_infos #content .short_infos_box h1 { margin-left: 730px; }
    #movies_details_section .movies_infos #content .short_infos_box .tags_box { margin-left: 290px; }
    #movies_details_section .movies_infos #content .short_infos_box #synopsis { margin-left: 740px; }
    #movies_details_section .movies_infos #content .short_infos_box #watch_button { margin-left: -100px; }
    #movies_details_section .movies_infos #content .short_infos_box #trailer_button { margin-left: 220px; }
}

@media only screen and (max-width: 1670px) {
    #movies_details_section .movies_infos #content .short_infos_box h1 { margin-left: 810px; }
    #movies_details_section .movies_infos #content .short_infos_box .tags_box { margin-left: 540px; }
    #movies_details_section .movies_infos #content .short_infos_box #synopsis { margin-left: 820px; }
    #movies_details_section .movies_infos #content .short_infos_box #watch_button { margin-left: 20px; }
    #movies_details_section .movies_infos #content .short_infos_box #trailer_button { margin-left: 340px; }
}

@media only screen and (max-width: 1540px) {
    .error_page_container p { margin-left: 27%; }
}

@media only screen and (max-width: 1500px) {
    #movies_details_section .movies_infos #content {
        padding-left: 0px;
        margin-left: -100px;
    }

    #movies_details_section .movies_infos #content .short_infos_box h1 { margin-left: 770px; }
    #movies_details_section .movies_infos #content .short_infos_box .tags_box { margin-left: 22%; }
    #movies_details_section .movies_infos #content .short_infos_box #synopsis { margin-left: 780px; }
    #movies_details_section .movies_infos #content .short_infos_box #watch_button { margin-left: -4%; }
    #movies_details_section .movies_infos #content .short_infos_box #trailer_button { margin-left: 18%; }
}

@media only screen and (max-width: 1350px) {
    #movies_details_section .movies_infos #content .short_infos_box .tags_box { margin-left: 31%; }
    #movies_details_section .movies_infos #content .short_infos_box #watch_button { margin-left: 0%; }
    #movies_details_section .movies_infos #content .short_infos_box #trailer_button { margin-left: 25%; }
    #confirm_popup .content .button_group { margin-top: 140px; }
}

@media only screen and (max-width: 1300px) {
    .error_page_container p { margin-left: 23%; }
}

@media only screen and (max-width: 1240px) {
    .github_link { margin-left: -12%; }
    #movies_details_section #productors { margin-left: 42%; }
    #movies_details_section .movies_infos .content #synopsis_description { width: 90%; }
    #movies_details_section #movie_watch_popup #popup_player { height: 390px; }
    #movies_details_section .movies_infos #content .short_infos_box .tags_box { margin-left: 38%; }
    #movies_details_section .movies_infos #content .short_infos_box #watch_button { margin-left: 3%; }
    #movies_details_section .movies_infos #content .short_infos_box #trailer_button { margin-left: 30%; }
}

@media only screen and (max-width: 1142px) {
    #confirm_popup .content { width: 70%; }
    #confirm_popup .content h1 { width: 100%; }
    #confirm_popup .content span { width: 70%; }
    #confirm_popup .content .button_group { margin-top: 110px; }
}

@media only screen and (max-width: 1137px) {
    #movies_list {
        margin-top: 520px;
        width: 87%;
    }
}

@media only screen and (max-width: 1100px) {
    .error_page_container p { margin-left: 17%; }
    .content_page .hero_section {
        margin: 0px;
    }

    .content_page .hero_section h1 {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 70px;
    }

    .content_page .hero_section p {
        font-size: 17px;
        margin-left: 30px;
        width: 90%;
    }

    .github_link { margin-left: -17%; }

    #movies_details_section .toast_popup {
        width: 80%;
        margin-left: 8%;
    }
}

@media only screen and (max-width: 1000px) {
    #movies_details_section {
        height: 200vh;
    }

    #movies_details_section .movies_infos { height: 200%; }
    #movies_details_section .movies_infos #content {
        display: block; 
    }

    #movies_details_section .movies_infos #content .poster_box img {
        width: 300px;
        margin-left: 13%;
    }

    #movies_details_section .movies_infos #content .short_infos_box h1 {
        margin: 0px;
        margin-left: 890px;
        margin-top: 40px;
        text-align: center;
    }

    #movies_details_section .movies_infos #content .short_infos_box .tags_box {
        margin-left: 50%;
    }

    #movies_details_section .movies_infos #content .short_infos_box #synopsis {
        text-align: center;
        margin-left: 55%;
        margin-top: 70px;
    }

    #movies_details_section .movies_infos #content .short_infos_box #watch_button {
        margin: 0px;
        margin-left: 30%;
        margin-top: 50px;
    }

    #movies_details_section .movies_infos #content .short_infos_box #trailer_button {
        margin: 0px;
        margin-top: 130px;
        margin-left: 30%;
    }
}

@media only screen and (max-width: 973px) {
    #movies_library_popup .not_found_component h1 { margin-left: 16%; }
    #my_profile_section .button_group_action button {
        width: 450px;
    }

    #my_profile_section .button_group_action #show_movies_library { float: left; } 
    #my_profile_section .button_group_action #two {
        float: left;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 940px) {
    #loader_section { margin-top: 30%; }
    #loader_section img { margin-left: -50px; }
    #movies_library_popup .not_found_component h1 { margin-left: 2%; }
    .error_page_container p { margin-left: 11%; }
}

@media only screen and (max-width: 900px) {
    #movies_details_section .movies_infos #content .short_infos_box .tags_box { margin-left: 53%; }
    #movies_details_section .movies_infos #content .short_infos_box #watch_button { margin-left: 34%; }
    #movies_details_section .movies_infos #content .short_infos_box #trailer_button { margin-left: 34%; }
}

@media only screen and (max-width: 840px) {
    #movies_details_section #love_icon {
        margin-left: 90%!important;
        margin-top: 13px;
    }
    
    #navbar {
        margin-top: 15px!important;
        width: calc(100% - 65px);
        margin-left: 11px!important;
        height: 22px;

        /* 
            OPTION 2 :
            margin: 0px!important;
            width: 100%;
            border-radius: 0px!important; 
        */

        /* background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px); */
    }

    #navbar .odama_app_logo {
        margin-top: -8px;
        margin-left: -10px;
        width: 35px;
    }

    #navbar .menu_list {
        display: none;
    }

    #navbar .menu_white_icon {
        display: block;
        width: 20px;
        float: right;
        background-color: transparent;
    }

    .content_page {
        margin-top: 110px!important;
        margin-left: 0px;
        padding: 0px!important;
    }

    .content_page .hero_section h1 {
        font-size: 40px;
        margin-left: 20px;
    }

    .content_page .hero_section p {
        font-size: 15px;
        margin-top: -20px;
    }

    #responsive_menu_side_bar {
        height: 100vh;
        color: white;
        background-color: #040a22;
        text-align: center;
    }

    #responsive_menu_side_bar * {
        background-color: transparent;
    }

    #responsive_menu_side_bar .close_white_icon {
        width: 30px;
        float: right;
        margin: 15px;
        margin-bottom: 50px;
    }

    #responsive_menu_side_bar ul {
        padding-top: 110px;
        list-style: none;
    }

    #responsive_menu_side_bar ul li {
        font-size: 17px;
        width: 190px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 20px;
        /* border: 2px solid white; */
        color: black;
        border-radius: 15px;
        padding-top: 7px;
        padding-bottom: 10px;
        background-color: white;
    }

    #responsive_menu_side_bar #my_profile_link {
        margin-top: 50px;
        /* background-color: transparent;
        border: 2px solid white;
        color: white; */
    }

    #responsive_menu_side_bar .responsive_menu_footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 13px;
        color: grey;
        margin-bottom: 25px;
        text-align: center;
    }

    #movies_details_section .back_link .back_icon { 
        margin-left: 12px;
        margin-top: 18.4px;
        width: 20px;
    }

    #movies_details_section .back_link p { 
        margin-left: 33px; 
        font-size: 13px;
        margin-top: 20px;
    }

    #movies_details_section #productors { margin-left: 34%; }

    #movies_details_section #movie_watch_popup {
        height: 150vh;
        position: fixed;
    }

    #movies_details_section #movie_watch_popup #popup_player {
        width: 92%;
        margin: 20px;
    }

    #movies_library_popup .not_found_component h1 { 
        margin-left: 11%; 
        font-size: 35px;
        width: 400px;
    }

    #movies_library_popup {
        padding: 10px;
        padding-top: 50px;
    }

    #movies_library_popup #close_icon_popup {
        margin-top: -40px!important;
        margin-right: 30px!important;
    }

    #movies_library_popup .movies_liked_item {
        margin-bottom: 20px;
        margin-right: 15px;
    }

    #movies_library_popup .movies_liked_item #rates {
        margin-top: 3px;
        margin-left: 75px;
        padding-bottom: 7px;
        font-size: 13px;
    }

    #movies_library_popup .movies_liked_item #rates img {
        margin-top: -2px;
    }

    #movies_library_popup .movies_liked_item .movies_tags {
        margin-top: 207px!important;
        margin-left: 4px;
        font-size: 12px;
        width: 110px;
    }

    #movies_library_popup .movies_liked_item img {
        width: 160px;
        height: 240px;
    }
}

@media only screen and (max-width: 753px) {
    #movies_list { margin-top: 580px; }
}

@media only screen and (max-width: 750px) {
    .genres_page h1 {
        margin-left: 20px;
    }

    .genres_page p {
        margin-left: 20px;
    }

    .genres_page .movies_section {
        margin-top: 150px;
        margin-left: 10px;
    }

    .error_page_container {
        padding-left: 0px;
    }

    .error_page_container h1 {
        font-size: 100px;
        margin-top: 100px;
        margin-left: 30px;
    }

    .error_page_container p {
        font-size: 14px;
        margin-left: 45px;
        width: 80%;
    }

    .error_page_container button {
        margin-left: 10px;
    }

    ::-webkit-scrollbar {
        height: 4px;
    }

    #search_section { 
        padding-left: 20px; 
        margin-top: 110px;
    }

    #search_section input { 
        margin-left: 0px;
        margin-top: 0px;
        font-size: 15px;
    }

    #search_section svg {
        margin-left: 15px;
        margin-top: 10px;
    }

    #search_section span {
        margin-top: 55px;
        margin-left: -77%;
        font-size: 12px;
    }

    #search_section #result_item .movies_search_item #poster_img {
        width: 145px;
        height: 210px;
    }

    #search_section #result_item .movies_search_item #rates {
        margin-top: -210px;
        margin-left: 62px;
        width: 40px;
    }

    #search_section #result_item .movies_search_item #rates p {
        font-size: 13px;
        margin-top: 2px;
    }
}

@media only screen and (max-width: 700px) {
    #movies_details_section .movies_infos #content .poster_box img {
        width: 200px;
        margin-top: -30px;
        margin-left: 16%;
    }

    #movies_details_section .movies_infos #content .short_infos_box h1 {
        font-size: 75px;
        margin-left: 57.5%;
        margin-top: 35px;
    }

    #movies_details_section .movies_infos #content .short_infos_box .tags_box {
        margin-left: 58%;
    }

    #movies_details_section .movies_infos #content .short_infos_box .tags_box span {
        font-size: 13px;
        border: 2px solid white;
    }

    #movies_details_section .movies_infos #content .short_infos_box .tags_box span svg {
        width: 16px;
        margin-bottom: -7px;
    }

    #movies_details_section .movies_infos #content .short_infos_box #synopsis {
        width: 500px;
        margin-left: 62%;
        margin-top: 55px;
    }

    #movies_details_section .movies_infos #content .short_infos_box #watch_button {
        margin-left: 292px;
        box-shadow: 0px 0px 50px rgb(28, 28, 28);
    }

    #movies_details_section .movies_infos #content .short_infos_box #trailer_button {
        margin-left: 292px;
        box-shadow: 0px 0px 50px rgb(28, 28, 28);
    }
}

@media only screen and (max-width: 730px) {
    #confirm_popup .content {
        width: 80%;
        margin-top: 30px;
    }

    #confirm_popup .content h1 {
        font-size: 35px;
        line-height: 38px;
    }

    #confirm_popup .content .button_group { margin-top: 120px; }
}

@media only screen and (max-width: 688px) {
    #movies_list { margin-top: 650px; }
}

@media only screen and (max-width: 640px) {
    #confirm_popup .content { width: 70%; }
    #confirm_popup .content .button_group { margin-top: 150px; }
    #confirm_popup .content .button_group #no { margin-top: 20px; }
}

@media only screen and (max-width: 582px) {
    .github_link { margin-left: -25%; }

    #movies_details_section .movies_infos #content .short_infos_box h1 {
        margin-left: 63.5%;
        margin-top: 35px;
        width: 500px;
        font-size: 70px;
    }

    #movies_details_section .movies_infos #content .short_infos_box .tags_box {
        margin-left: 64%;
    }

    #movies_details_section .movies_infos #content .short_infos_box #synopsis {
        margin-left: 65%;
        width: 450px;
    }

    #movies_details_section .movies_infos #content .poster_box img {
        margin-left: 130px;
    }
}

@media only screen and (max-width: 503px) {
    #movies_details_section .movies_infos {
        background-color: rgba(0, 0, 0, 0.242);
        height: 170vh;
    }

    #movies_details_section {
        height: 170vh;
    }

    #movies_details_section #love_icon {
        font-size: 22px;
        margin-top: 13px;
        margin-left: 89%!important;
    }

    #movies_details_section .movies_infos #content .poster_box img {
        margin-left: 152px;
        border-radius: 10px;
        margin-top: -30px;
        width: 230px;
        height: 340px;
    }

    #movies_details_section .movies_infos #content .short_infos_box h1 {
        font-size: 60px;
        margin-left: 73.2%;
        margin-top: 20px;
        width: 350px;
    }

    #movies_details_section .movies_infos #content .short_infos_box .tags_box {
        margin-left: 72.7%;
        width: 370px;
        margin-top: 15px;
    }

    /* #movies_details_section .movies_infos #content .short_infos_box .tags_box #tags {
        position: absolute;
        margin-top: 40px;
        margin-left: -160px;
    } */

    #movies_details_section .movies_infos #content .short_infos_box .tags_box #year {
        position: absolute;
        margin-top: 44px;
        width: 80px;
        margin-left: -230px;
        padding-top: 5px;
    } 

    #movies_details_section .movies_infos #content .short_infos_box #synopsis {
        margin-left: 73.7%;
        width: 330px;
        margin-top: 100px;
    }

    #movies_details_section .movies_infos #content .short_infos_box #watch_button {
        margin-left: 79.3%;
    }

    #movies_details_section .movies_infos #content .short_infos_box #trailer_button {
        margin-left: 79.3%;
        margin-top: 125px;
    }

    #search_section input { 
        width: 82%;
    }

    #search_section span {
        margin-left: -363px;
        width: 330px!important;
        margin-top: 55px;
    }

    #search_section #result_item {
        margin-top: 70px;
    }
    
    #my_profile_section .button_group_action button {
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        border-radius: 30px;
    }

    #my_profile_section .button_group_action #two {
        margin-top: 17px;
    }

    .content_page .hero_section p {
        margin-left: 22px;
    }

    .movies_section { margin-left: 15px; }
    .movies_section .movies_item { margin-right: 15px; }

    .movies_section .movies_item .movie_poster {
        width: 170px;
        height: 260px;
    }

    #movies_details_section #movie_watch_popup #popup_player {
        margin-top: 2%;
    }

    #movies_details_section #movie_watch_popup {
        position: fixed;
        right: 0;
        top: 0;
        padding-top: 10px;
    }

    #movies_details_section #movie_watch_popup p {
        margin-left: 20px;
        margin-right: 20px;
    }

    #movies_details_section #movie_watch_popup #popup_close_icon {
        margin-top: 0px;
    }

    .movies_section .movies_item .movies_infos_poster { width: 170px; }
    .movies_section .movies_item .movies_infos_poster .movies_tags {
        margin-top: 93px;
        margin-left: 10px;
    }

    .content_page #ind_text {
        margin-left: 20px;
        width: 90%;
        font-size: 25px;
    }

    .content_page #ind_description {
        margin-left: 20px;
        width: 90%;
        font-size: 13px;
        font-weight: 400;
    }

    #loader_section { margin-top: 35%; }
    #loader_section img { 
        margin-left: 0px; 
        width: 25px;
    }

    #my_profile_section {
        margin-left: -25px;
        margin-top: 90px;
    }

    #my_profile_section .big_title {
        font-size: 52px;
    }

    #my_profile_section .description {
        font-size: 13px;
        line-height: 19px;
    }

    #my_profile_section #more_info_container {
        border: 2px solid white;
        font-size: 15px;
        width: 250px;
        padding-top: 10px;
        padding-bottom: 13px;
        text-align: center;
        border-radius: 20px;
    }

    #movies_library_popup #all_liked_movies_component {
        width: 90%;
        margin-left: -1px;
    }

    #movies_library_popup {
        padding-top: 70px;
        padding-left: 28px;
        width: auto;
        height: 200%;
    }

    #movies_library_popup #close_icon_popup {
        margin-right: 1px!important;
        margin-top: -58px!important;
        width: 25px;
    }

    #movies_library_popup .not_found_component img {
        width: 300px;
        margin-left: -15px;
    }

    #movies_library_popup .not_found_component h1 { 
        margin-left: -2px; 
        font-size: 30px;
        width: 350px;
        margin-top: -50px;
    }

    #movies_library_popup .not_found_component p { 
        width: 70%;
        margin-left: 13%;
    }

    .movies_section .movies_item .movies_infos_poster #rates {
        margin-left: 79px;
        margin-top: -140px;
        padding-bottom: 7px;
    }

    #movies_details_section .toast_popup {
        width: 85%;
        margin-left: 3.5%;
        font-size: 14px;
        bottom: 0px;
        background-color: #040a22;
        box-shadow: 0px 0px 50px rgb(36, 36, 36);
        position: fixed;
    }

    #movies_library_popup .movies_liked_item .movies_tags {
        padding-bottom: 7px;
        margin-top: 187px;
        padding-top: 5px;
    }

    .genres_page {
        padding-bottom: 100px;
    }

    .genres_page h1 {
        font-size: 35px;
    }

    .genres_page p {
        font-size: 12px;
        margin-top: 70px;
        width: 90%;
    }

    .genres_page .movies_section {
        margin-top: 140px;
    }

    .genres_page .back_link {
        margin-left: 20px;
    }
    
    .genres_page .back_link p {
        margin-top: -24px;
        margin-left: 45px;
        font-size: 14px;
        color: white!important;
    }

    .genres_page .movies_section #rates {
        margin-top: -125px!important;
        margin-left: 100px!important;
    }

    .genres_page .button_genres_group {
        margin-left: 20px;
    }

    .genres_page  .button_genres_group button {
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 13px;
        padding-right: 40px;
        font-size: 14px;
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .genres_page .button_genres_group h1 {
        font-size: 33px;
        width: 90%;
    }
    
    .genres_page .button_genres_group p {
        font-size: 13px;
    }

    #movies_list {
        margin-top: 650px;
        margin-left: 10px;
        width: 87%;
    }

    #movies_list #movies_genres_item #poster_img {
        width: 155px;
        height: 230px;
    }

    #movies_list #movies_genres_item #rates {
        margin-top: -230px;
        margin-left: 72px;
    }

    #movies_list .movies_genres_item #rates p {
        font-size: 13px!important;
        margin-top: 1.5px;
    }

    #movies_list .movies_genres_item #tags {
        margin: 0px;
        font-size: 13px;
        margin-top: 265px;
        width: 150px;
        margin-left: -195px;
    }

    #loader_screen {
        padding-top: 15%;
    }

    #loader_screen .logo_app {
        width: 90px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    #loader_screen .logo_loading {
        width: 120px;
        margin-left: -108px;
    }

    .movies_section .scrolling_button {
        display: none;
    }

    #slider { padding-left: 0px; }
    .movies_section {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 457px) {
    #confirm_popup .content span { margin-top: 20px; }
    #confirm_popup .content .button_group { margin-top: 170px; }
    #confirm_popup .content .button_group #no { margin-top: 20px; }
}

@media only screen and (max-width: 465px) {
    .github_link { margin-left: -32%; }
}

@media only screen and (max-width: 401px) {
    .github_link { margin-left: -36%; }

    #confirm_popup .content {
        box-shadow: 0px 0px 50px rgb(99, 99, 99);
    }

    #confirm_popup .content #close_icon {
        width: 25px;
        margin-top: -33px;
    }

    #confirm_popup .content h1 {
        font-size: 33px;
        line-height: 35px;
    }

    #confirm_popup .content .button_group { margin-top: 200px; }
    #confirm_popup .content .button_group #no { margin-top: 15px; }

    #search_section span {
        margin-left: 5px;
        margin-top: 10px;
        width: 95%;
    }
}

@media only screen and (max-width: 345px) {
    .github_link { margin-left: -41%; }
}